<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Notes</title>
  
  <!-- CSS -->
  <link rel="stylesheet" href="./css/create.css">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/view.css">
  <link rel="stylesheet" href="./css/account.css">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="./images/favicon.ico">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Custom Font: Rufina -->
  <link href="https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap" rel="stylesheet">
  <!-- Custom Font: Lora -->
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>